<p><%= @resource.email %>様</p>

<p>パスワードの変更申請が行われました。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>をクリックしてパスワードを変更してください。</p>

<p>もし申請していない場合はこのメールを無視して下さい。</p>
<p>新しいパスワードへ変更されない限りパスワードは変更されません。</p>
